#map {
    width: 100%;
    height: 100%;
}

.custom-marker {
    width: 24px;
    height: 24px;
    position: relative;
}

.custom-marker svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}
